{% include base_path %}

{% if post.collection == 'code' and post.type == 'experiment' %}
  {% for pub in site.publications reversed %}
    {% if pub.label == post.label %}
      {% assign title = "Paper: <i>" | append: pub.title  | append: "</i>" %}
    {% endif %}
  {% endfor %}
{% elsif post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.permalink }}">{{ title }}</a>
    </h3>
    <div class="arch_elem_container">
      <div class="arch_elem_desc_container">
        {% if post.collection == 'teaching' %}
          <p class="nopad writesmall">Course director: {{ post.authors }}</p>
          <p class="nopad writesmall"><i>{{ post.venue }}</i>, {{ post.year }}.</p>
        {% elsif post.collection == 'publications' %}
          {% assign emph_author = "<b>" | append: site.author.name | append: "</b>" %}
          <p class="nopad writesmall">{{ post.authors | replace: site.author.name, emph_author }}</p>
          <p class="nopad writesmall"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.</p>
        {% elsif post.collection == 'code' %}
          {% if post.desc %}
            <p class="nopad writesmall">{{ post.desc }}</p>
          {% endif %}
        {% endif %}
        <p class="nopad writesmall">
          {% include squared_list.html %}    
        </p>
      </div>
      {% if post.thumbnail %}
        <a  href="{{ base_path }}{{ post.thumbnail }}" target="_blank"><img class="arch_elem_img" src="{{ base_path }}{{ post.thumbnail }}"/></a>
      {% endif %}
    </div>

  
  </article>
</div>
