{%- assign doi_base = "https://doi.org/" %}
{%- assign openreview_base = "https://openreview.net/forum?id=" %}
{%- assign arxiv_base = "https://arxiv.org/abs/" %}

{% for type in include.type %} 

<ul>
  {% for paper in site.data.papers -%}
    {% if paper.type == type -%}
      <li>
        {%- if paper.url %}{% assign paperhref = paper.url %} 
        {%- elsif paper.openreview_id %}{% assign paperhref = openreview_base | append: paper.openreview_id %} 
        {%- elsif paper.arxiv_id %}{% assign paperhref = arxiv_base | append: paper.arxiv_id %} 
        {%- elsif paper.doi %}{% assign paperhref = doi_base | append: paper.doi %} 
        {%- else %}{% assign paperhref = "" %}
        {%- endif %}
        <a id="{{ paper.id }}" href="{{ paperhref }}">{{ paper.title }}</a>, {% if paper.short_venue %}{{ paper.short_venue }},{% endif %} {{ paper.year }}, <small>{{ paper.short_author | replace: "Zambon", "<b>Zambon</b>" }}</small>.<br/>    

        <ul id="paper-element-list" style="top-margin:-5px; bottom-margin:-5px">
        <!-- <span style="top-margin:-5px; margin-left:30px; padding-bottom:125px">  -->
          {%- if paper.doi %}
          <li>[<a class="square-button" href="{{ doi_base }}{{ paper.doi }}"><i class="ai ai-doi"></i> DOI</a>]
          </li>{% endif %}
          <!-- {%- if paper.url %}[<a class="square-button" href="{{ paper.url }}">{{ paper.url }}</a>]&nbsp;{% endif %} -->
          {%- if paper.arxiv_id %}
          <li>[<a class="square-button" href="{{ arxiv_base }}{{ paper.arxiv_id }}"><i class="ai ai-arxiv"></i>   arXiv</a>]
          </li>{% endif %}
          {%- if paper.openreview_id %}
          <li>[<a class="square-button" href="{{ openreview_base }}{{ paper.openreview_id }}">OpenReview</a>]
          </li>{% endif %}
          {%- if paper.github %}
          <li>[<a class="square-button" href="{{ paper.github }}"><i class="fa-brands fa-github"></i> GitHub</a>]
          </li>{% endif %}
          {%- if paper.gitlab %}
          <li>[<a class="square-button" href="{{ paper.gitlab }}"><i class="fa-brands fa-gitlab"></i> GitLab</a>]
          </li>{% endif %}
          {%- if paper.experiments %}
          <li>[<a class="square-button" href="{{ paper.experiments }}"><i class="fa fa-flask"></i> experiments</a>]
          </li>{% endif %}
          {%- if paper.bibtex %}
          <li>[<a class="square-button" href="javascript:void(0);" onclick='togglebibtex("bibtex-{{ paper.id }}")'><i class="fa fa-book"></i> bibtex</a>]
          </li>{% endif %}
          {%- if paper.video %}
          <li>[<a class="square-button" href="{{ paper.video }}"><i class="fa fa-video-camera"></i> video</a>]
          </li>{% endif %}
        <!-- </span> -->
        </ul>
        <pre class="bibtex-block" id="bibtex-{{ paper.id }}" style="display: none"><code>{{ paper.bibtex }}</code></pre>
      </li>
    {% endif %}   
  {% endfor %}
</ul>

{% endfor %}