{% if post.collection == 'code' %}

  {% if post.label %}
    [<a href="{{ base_path }}/code/{{ post.label }}">description</a>]&nbsp;
  {% endif %}
  {% if post.github %}
    [<a href="{{ post.git }}">Git Repo</a>]&nbsp;
  {% endif %}
  {% if post.download %}
    [<a href="{{ base_path }}/dl/experiments/{{ post.label }}.zip">download</a>]&nbsp;
  {% endif %}

{% else %}

  {% if post.doi %}
    {% if post.doi contains "http" %}
      {% assign doiprefix="" %}
    {% else %}
      {% assign doiprefix="http://doi.org/" %}
    {% endif %}
    [<a href="{{ doiprefix }}{{ post.doi }}" target="_blank">{{ post.doi }}</a>]&nbsp;
  {% endif %}
  {% if post.paper %}
    [<a href="{{ base_path }}{{ post.paper }}" target="_blank">paper</a>]&nbsp;
  {% endif %}
  {% if post.code %}
    [<a href="{{ base_path }}/code/{{ post.label }}">source code</a>]&nbsp;
  {% endif %}
  {% if post.bibtex %}
    [<a href="{{ base_path }}/publications/{{ post.label }}#bibtex">bibtex</a>]&nbsp;
  {% endif %}
  {% if post.preprint %}
    [<a href="{{ post.preprint }}" target="_blank">preprint</a>]&nbsp;
  {% endif %}
  {% if post.visit %}
    [<a href="{{ post.visit }}" target="_blank">see also</a>]&nbsp;
  {% endif %}
  {% if post.collection == 'publications' %}
    {% if post.abstract %}
      [<a href="{{ base_path }}/publications/{{ post.label }}">abstract</a>]&nbsp;
    {% endif %}
  {% endif %}

{% endif %}
