/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-title {
    color: $post-title-color;
    text-align: left;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 0.7rem;
}

.profile-container {
    width: 100%;
}

.profile-floated {
    float: left;
    width: 180px;
    max-width: 100%;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.profile-text {
    margin: 0; 
    padding: 0;
    padding: 9px;
}

.profile-clear {
    clear: both;
}
