<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul class="container">
        <li class="hvr-underline-reveal home-button" style=""><a href="{{ site.baseurl }}/"><b>{{ site.author.name }}</b></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/#short-bio">About me</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/publications/">Publications</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/teaching/">Teaching</a></li>
        <!-- <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/code/">Code</a></li> -->
        <!-- <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">Blog</a></li> -->
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
            <span class="copyright"><i class="fa fa-copyright"></i> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}</span>
        </small>
      </footer>
    </div>

  </body>
</html>
